@import "./custom_colors";

.notes-list {
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 10px;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.button_More {
  background-color: white;
  color: $custom-purple;
  border-color: $custom-purple;
}

.button_More:hover {
  background-color: $custom-purple;
  border-color: $custom-purple;
}
